<div class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-header" data-background-color="blue">
                            <h4 class="title">Edit Items</h4>
                            <p class="category">Complete Item Details</p>
                        </div>
                        <div class="card-content">
                            <form>
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="form-group form-black label-floating is-empty">
                                            <label class="control-label">Name</label>
                                            <input type="text" class="form-control" >
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group form-black label-floating is-empty">
                                            <label class="control-label">Code</label>
                                            <input type="text" class="form-control" >
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group form-black label-floating is-empty">
                                            <label class="control-label">Category</label>
                                            <input type="email" class="form-control" >
                                        </div>
                                    </div>
                                </div>
        
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group form-black label-floating is-empty">
                                            <label class="control-label">Price</label>
                                            <input type="text" class="form-control" >
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group form-black label-floating is-empty">
                                            <label class="control-label">Reatil margin</label>
                                            <input type="text" class="form-control" >
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group form-black label-floating is-empty">
                                            <label class="control-label">Trade margin</label>
                                            <input type="text" class="form-control" >
                                        </div>
                                    </div>
                                </div>
        
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group form-black label-floating is-empty">
                                            <label class="control-label">Quantity</label>
                                            <input type="text" class="form-control" >
                                        </div>
                                    </div>                                    
                                    <div class="col-md-4">
                                            <div class="form-group form-black label-floating is-empty">
                                                <label class="control-label">Supplier</label>
                                                <input type="text" class="form-control" >
                                            </div>
                                        </div>
                                </div>
        
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>About Product</label>
                                            <div class="form-group form-black label-floating is-empty">
                                                <textarea class="form-control" rows="1"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
        
                                <button type="submit" class="btn btn-danger pull-right">Update Profile</button>
                                <div class="clearfix"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        