<div class="main-content">
    
            <div class="container-fluid">
                <div class="row">
    
                    <div class="col-lg-5 col-md-6 col-sm-6">
                         <div  class="clickableDiv" (click)="goToItems()">
                        <div class="card card-stats" >
                            <div class="card-header" data-background-color="blue">
                                <i class="material-icons">person_pin</i>
                            </div>
                            <div class="card-content">
                                <p class="category">Items</p>
                                <h3 class="title">+245</h3>
                            </div>
                            <div class="card-footer">
                                <div class="stats">
                                    <i class="material-icons">update</i> Just Updated
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>

                    <div class="col-lg-5 col-md-6 col-sm-6">
                            <div  class="clickableDiv" (click)="goTocategories()">
                                    <!-- <i class="material-icons">{{menuItem.icon}}</i>
                                    <p>{{menuItem.title}}</p> -->
                                    <div class="card card-stats" >
                                            <div class="card-header" data-background-color="blue">
                                                <i class="material-icons">local_shipping</i>
                                            </div>
                                            <div class="card-content">
                                                <p class="category">Categories</p>
                                                <h3 class="title">+245</h3>
                                            </div>
                                            <div class="card-footer">
                                                <div class="stats">
                                                    <i class="material-icons">update</i> Just Updated
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                    </div>

                </div>
            </div>
</div>